{% extends 'base.html' %}

{% block title %}Feed{% endblock %}
{% block content %}
    <div class="container" style="max-width: 800px">
        <div class="jumbotron">
            <div class="row">
                {% for image in feed %}
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <h4>{{ image.username }} <span class="pull-right">{{ image.published }}</span></h4>
                            <img src="{{ image.image }}">
                            <div class="caption">
                                <p>{{ image.text }}</p>
                                <p>
                                    <a href="#" class="btn btn-default" role="button"><span
                                        class="glyphicon glyphicon-heart"></span> {{ image.likes_count }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
       </div>
    </div>
{% endblock %}